body {
    font-family: sans-serif;
    background-color: #101014;
}
header{background-color: #121216;
padding-bottom:39px;display: flex;justify-content: space-between;}

nav{display: flex;justify-content: flex-start;
gap:40px;align-items: center;}



nav a{text-decoration: none;color: white;
font-size: 19px;}
* {box-sizing: border-box;}
body {
	font-family: sans-serif;
	margin: 20px;
}
.slider { 
  position: relative;
	text-align: center;
  top: 10px;
	max-width: 960px; 
	margin: 0 auto;
}

.slides .slide{ /*все изображения справа друг от доруга*/
	width: 25%;
	float: left;
}

.slides .slider-inner{
	width: 400%;
}
.overflow{ 
	width: 100%;
	overflow: hidden;
}

 img{ 
	width: 100%;
}
 
.slide h2 {
	margin-top: -50px;
	background-color: rgba(255, 255, 255, 0.749);
	padding: 10px 0;
	position: relative;
}
.arrows label {
	height: 40px;
	width: 40px;
}
/*настройка переключения и положения для левой стрелки*/
#switch1:checked ~ .arrows label:nth-child(4), 
#switch2:checked ~ .arrows label:nth-child(1),
#switch3:checked ~ .arrows label:nth-child(2),
#switch4:checked ~ .arrows label:nth-child(3){
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='40' fill='lightgrey'%3E%3Cpath d='M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160zm352-160l-160 160c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L301.3 256 438.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0z'/%3E%3C/svg%3E") center/cover no-repeat; 
	float: left;
	margin: 0 0 0 40px;
	display: block;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ .arrows label:nth-child(2),
#switch2:checked ~ .arrows label:nth-child(3),
#switch3:checked ~ .arrows label:nth-child(4),
#switch4:checked ~ .arrows label:nth-child(1) {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='40' fill='lightgrey'%3E%3Cpath d='M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z'/%3E%3C/svg%3E") no-repeat center/cover; 
	float: right;
	margin: 0 40px 0 0; 
	display: block;
}

label, a{ 
	cursor: pointer;
}
/*скрываетвсе radio-input*/
input[type="radio"]{ 
	display: none;
}

#switch1:checked ~ .slides .slider-inner{
	margin-left: 0;
}

#switch2:checked ~ .slides .slider-inner{
	margin-left: -100%;
}

#switch3:checked ~ .slides .slider-inner{
	margin-left: -200%;
}

#switch4:checked ~ .slides .slider-inner{
	margin-left: -300%;
}

.arrows{ 
	margin: -29% 0 0 0;
	width: 100%;
	height: 50px;
}

.dots label{
	border-radius: 10px;
	display: inline-block; 
	width: 15px;
	height: 15px;
	background: #bbb;
}

.dots{
	margin: 23% 0 0;
	text-align: center;
}

.dots label:hover{ 
	background: #76c8ff;
	border-color: #777 !important;
}

#switch1:checked ~ .dots label:nth-child(1),
#switch2:checked ~ .dots label:nth-child(2),
#switch3:checked ~ .dots label:nth-child(3),
#switch4:checked ~ .dots label:nth-child(4){
	background: #18a3dd;
	border-color: #18a3dd !important;
}

.slides .slider-inner{ 
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.arrows label:hover{ 
	opacity: 0.6;
}

.arrows label{
	transition: opacity 0.2s ease-out;
}

@media (max-width: 480px) {
	.arrows label {
		width: 25px;
		height: 25px;
	}
	.slide h2 {
		font-size: 1.2em;
		padding: 6px 0;
	}
	.dots {
		margin-top: 16%;
	}
	.dots label {
		width: 10px;
		height: 10px;
	}
}
.icon{width:50px; height: 50px;}
.block{display: flex;justify-content: space-around;
width: 400px;align-items: center;
background-color: #121216;}

.block img{width: 50px;
height:50px;}

.block a{text-decoration: none;
font-size: 18px;
color:white;width: 150px;
background: #353539 ;
text-align: center;
border-radius: 10px;
padding: 12px;}

.block a{background-color:  #18a3dd;}
#v{background-color: #353539;
}
.tovar{display: flex;
justify-content: center;
gap: 50px;}

.tovar div{text-align: left;color: white;}
.tovar img{width: 200px;height: 300px;}
h3{color: white;}

.towar{display: flex;
justify-content: center;
gap: 50px;}

.towar div{text-align: left;
color: white;}

.towar img{width:350px;height:200px;}
.towar button{width:150px;height:40px;background-color:#353539 ;
border-radius: 7px;color: white;
}


.tovvar{display: flex;
justify-content: center;
gap: 50px;}

.tovvar div{text-align: left;color: white;}
.tovvar img{width: 200px;height: 300px;}
h3{color: white;}


.grey-hover {
  transition: 0.3s;
}

.grey-hover:hover {
  opacity: 0.6;
  filter: greyscale(50%);
}

.k{border-radius: 9px;margin-top: 50px;}



 .fot{display:flex;
 justify-content:center;
 align-items: flex-start;
 gap:5px;}
 
 


 ul{list-style: none;
 font-size:12px;
 line-height: 40px;
 color:gray;}
 .text{color:gray; font-size:10px;}


.poloska{display:flex;
justify-content: space-between;
align-items: center;
padding-right: 5px ;
padding-left:5px;
font-weight: 900;
color: white;}

.icons img{width: 25px;
height: 25px;}
h2{color: white;}
